.space-overview-container {
  margin: 4rem;
  border-radius: 10px;
}
.space-overview {
  color: #263238;
  margin: 1rem;
}
.workspace-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 12px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
  border-radius: 0.4rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.card {
  background-color: #ffffff;
  border: 1px solid #eee7e7;
  border-radius: 6px;
  padding: 1.5rem;
  color: #263238;
  width: 370px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.41);
}
.card-title {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
.location {
  border: 1px solid rgba(238, 231, 231, 1);
  border-radius: 6.47px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 52px;
  align-content: center;
  color: rgba(38, 50, 56, 0.5);
  font-weight: 500;
  font-size: 8px;
  background-color: rgba(249, 249, 249, 1);
}
.location-icon {
  width: 21px;
  height: 25px;
}
.card-image {
  width: 100%;
  height: 214px;
  object-fit: cover;
  border-radius: 6px;
}
.booking {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.daypass {
  padding-top: 1rem;
  background-color: #eee7e7;
  width: 50%;
}
.bulkpass {
  position: relative;
  width: 50%;
}
.perdays {
  color: rgba(38, 50, 56, 0.8);
}
.discount {
  position: absolute;
  top: -18px;
  left: 20%;
  padding: 0 0.5rem;
  border: 1px solid white;
  color: #fffdf7;
  // font-size: 8px;
  // font-weight: 500;
  border-radius: 5px;
  height: fit-content;
  background-color: #263238;
}
.pass {
  padding: 1rem;
  height: 4rem;
  text-align: left;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(255, 207, 75, 1);
}
