.footer-container {
  position: sticky;
}
.download-container {
  margin-left: 4rem;
}
.download-title {
  color: #605f5f;
  font-size: 36px;
  font-weight: 700;
}
.playstore {
  padding-top: 3rem;
  display: flex;
  justify-content: space-around;
}
.store {
  display: flex;
  flex-direction: row;
  gap: 3px;
}
.download-content {
  align-content: flex-start;
  margin: auto;
  padding-left: 7rem;
}
.download-description {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #605f5f;
  text-align: center;
}
.footer {
  background-color: #222e34;
  height: 44px;
  width: 100%;
  margin-left: 1px;
}
.layout {
  padding: 0.6rem;
  text-align: center;
}
.typography {
  color: #dddddd;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
@media (max-width: 768px) {
  .download-title {
    font-size: 24px;
    line-height: 45px;
    letter-spacing: 0.3px;
    color: rgba(38, 50, 56, 1);
  }
  .download-description {
    display: none;
  }
  .playstore {
    flex-direction: column;
  }
  .download-content {
    padding-left: 0px;
  }
  .store {
    max-width: 90vw;
  }
  .download-container {
    margin-left: 1rem;
  }
}
